@import './global.css';

front-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--text-gap-2x);
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: var(--padding-2x);
  padding-left: var(--padding-width-90-percent);
  padding-bottom: var(--padding-2x);
  padding-right: var(--padding-width-70-percent);
  overflow: hidden !important;
}

front-page * {
  color: var(--light);
  z-index: 1;
}

front-page h2 {
  font-size: var(--size-40-64);
  font-weight: 900;
  letter-spacing: .1rem;
  text-wrap: balance;
  margin: 0;
  padding: 0;
  line-height: 110%;
}

front-page p {
  font-size: var(--size-20-28);
  font-weight: 500;
  text-wrap: balance;
  margin: 0;
  padding: 0;
}

front-page button,
front-page a {
  border: 0;
  font-size: var(--size-16-18);
  font-weight: 500;
  text-shadow: 0 0 10px #00000087;
  margin-top: var(--gap-half);
  background: var(--button-background, transparent);
  padding: 10px 14px;
  border-radius: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  text-decoration: none;
}

front-page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
}

front-page.anim {
  transition: opacity 3s;
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  front-page button,
  front-page a {
    transition: var(--transition-time);
    cursor: pointer;
    outline: 5px solid transparent;
    outline-offset: 10px;
  }
  front-page button:hover,
  front-page a:hover {
    --_color: var(--button-hover-color);
    outline: 1px solid var(--_color);
    outline-offset: 0px;
    background: none;
    --_shadow: 8px 8px 0px var(--_color);
    -webkit-box-shadow: var(--_shadow);
    -moz-box-shadow: var(--_shadow);
    box-shadow: var(--_shadow);
  }
}