partner-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  partner-list {
    display: -webkit-grid;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    --_cols-max: 5;
    --_cols: var(--_cols-max);
    grid-template-columns: repeat( var(--_cols), -webkit-minmax( 150px, 1fr ) );
    grid-template-columns: repeat( var(--_cols), minmax( 150px, 1fr ) );
    -ms-grid-columns: repeat( var(--_cols), minmax( 150px, 1fr ) );
    grid-template-rows: repeat( auto-fit, -webkit-minmax( 150px, 1fr ) );
    grid-template-rows: repeat( auto-fit, minmax( 150px, 1fr ) );
    -ms-grid-rows: repeat( auto-fit, minmax( 150px, 1fr ) );
    gap: var(--gap-half);
    grid-gap: var(--gap-half);
    min-height: 300px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 900px) {
  partner-list {
    --_cols: max(var(--_cols-max) - 1, 1);
  }
}

@media only screen and (max-width: 720px) {
  partner-list {
    --_cols: max(var(--_cols-max) - 2, 1);
  }
}

@media only screen and (max-width: 560px) {
  partner-list {
    --_cols: max(var(--_cols-max) - 3, 1);
  }
}

@media only screen and (max-width: 300px) {
  partner-list {
    --_cols: max(var(--_cols-max) - 4, 1);
  }
}