@import url('https://crossroads-lab.github.io/Design-System/css/index.css');
@import './theme.css';

:root {
  --padding-horizontal: var(--padding-width-90-percent);
  --padding-vertical: var(--padding-2x);
}

/* General html elements */
html, body, * {
  font-family: var(--font-family-rounded);
  /* color: var(--dark); */
}

/* Top navbar */
top-navbar {
  display: block;
  position: fixed;
  width: 100%;
  --_padding-top: calc(var(--safearea-top) + var(--padding-half));
  min-height: calc(var(--size-48-64) + var(--_padding-top));
  display: flex;
  align-items: center;
  padding: var(--_padding-top) var(--padding-horizontal) 0 var(--padding-horizontal);
  opacity: 1 !important;
  z-index: calc(var(--z-index-max) - 1);

  /* When scrolling */
  background: #000000A0;
  --_blur: 15px;
  -webkit-backdrop-filter: blur(var(--_blur));
  -moz-backdrop-filter: blur(var(--_blur));
  backdrop-filter: blur(var(--_blur));
}

body[data-scrolling='true'] top-navbar,
body[data-scrolling='false'] top-navbar {
  transition: 1s;
}

body:not([data-scrolling='true']) top-navbar {
  -webkit-backdrop-filter: none;
  -moz-backdrop-filter: none;
  backdrop-filter: none;
  filter: none;
  background: linear-gradient(0deg, #00000000 90%, #000000 100%);
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  body:not([data-scrolling='true']) top-navbar {
    background: none;
  }
}