@import url('https://crossroads-lab.github.io/Design-System/css/index.css');
@import './theme.css';

:root {
  --padding-horizontal: var(--padding-width-90-percent);
  --padding-vertical: var(--padding-2x);
}

/* General html elements */
html, body, * {
  font-family: var(--font-family-rounded);
  /* color: var(--dark); */
}

nav {
  position: fixed;
  width: 100%;
  height: var(--size-48-64);
  display: flex;
  align-items: center;
  padding: calc(var(--padding) + var(--safearea-top)) var(--padding-horizontal) var(--padding) var(--padding-horizontal);
  opacity: 1 !important;
  z-index: calc(var(--z-index-max) - 1);
  transition: 1s;

  /* When scrolling */
  background: #000000A0;
  --_blur: 15px;
  -webkit-backdrop-filter: blur(var(--_blur));
  -moz-backdrop-filter: blur(var(--_blur));
  backdrop-filter: blur(var(--_blur));
}

body:not([data-scrolling='true']) nav {
  -webkit-backdrop-filter: none;
  -moz-backdrop-filter: none;
  backdrop-filter: none;
  filter: none;
  background: none;
}