@import url('https://crossroads-lab.github.io/Design-System/css/index.css');
@import './theme.css';

/* General html elements */
html, body, * {
  font-family: var(--font-family-rounded);
  /* color: var(--dark); */
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
}