@import url('https://crossroads-lab.github.io/Design-System/css/index.css');

/* Theme */
:root {
  --color: var(--light);
  --background: var(--blueberry, black);
  --spash-screen-background: black;
  --button-background: var(--purple-orange-diagonal);
  --button-hover-color: var(--orange);
}