@import url('https://crossroads-lab.github.io/Design-System/css/index.css');

/* Top navbar */
top-navbar {
  display: block;
  position: fixed;
  width: 100%;
  --_padding-top: calc(var(--safearea-top) + var(--padding-half));
  min-height: calc(var(--size-48-56) + var(--_padding-top));
  display: flex;
  align-items: center;
  padding: 0 var(--padding-horizontal);
  opacity: 1 !important;
  z-index: calc(var(--z-index-max) - 1);

  /* When scrolling */
  background: #000000A0;
  --_blur: 15px;
  -webkit-backdrop-filter: blur(var(--_blur));
  -moz-backdrop-filter: blur(var(--_blur));
  backdrop-filter: blur(var(--_blur));
}

top-navbar h1 {
  padding: 0;
  margin: 0;
}

top-navbar h1.invisible {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}